name: PR review

on: 
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

permissions:
  contents: read
  pull-requests: write

jobs:
  annotate-pr:
    runs-on: ubuntu-latest
    name: AI code-review
    steps:
      - name: AI supremacy starts here
        uses: AleksandrFurmenkovOfficial/ai-code-review@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
  
          # Repository Configuration
          owner: ${{ github.repository_owner }}
          repo: ${{ github.event.repository.name }}
          pr_number: ${{ github.event.number }}

          # AI Provider Configuration
          ai_provider: 'google'  # Can be 'openai', 'anthropic', 'google', 'deepseek'

          # Anthropic Configuration (if using Anthropic)
          # anthropic_api_key: ${{ secrets.ANTHROPIC_API_KEY }}
          # anthropic_model: 'claude-sonnet-4-5-20250929'  # Optional, defaults to 'claude-sonnet-4-5-20250929'
          
          # OpenAI Configuration (if using OpenAI)
          # openai_api_key: ${{ secrets.OPENAI_API_KEY }}
          # openai_model: 'gpt-5.2'  # Optional, defaults to 'gpt-5.2'
          
          # Google Configuration (if using Google)
          google_api_key: ${{ secrets.GOOGLE_API_KEY }}
          google_model: 'gemini-3-pro-preview' # Optional, defaults to 'gemini-3-flash-preview'
          
          # Deepseek Configuration (if using Deepseek)
          deepseek_api_key: ${{ secrets.DEEPSEEK_API_KEY }}
          deepseek_model: 'deepseek-chat'  # Optional

          # X Configuration (if using X)
          x_api_key: ${{ secrets.X_API_KEY }}
          x_model: 'grok-4'  # Optional
          
          # Optional file filters
          # include_extensions: '.js,.py,.ts'
          # exclude_extensions: '.md,.txt'
          # include_paths: 'src/,app/'
          # exclude_paths: 'tests/,docs/'
